

nav {
    display: none;
}

div {
	width: 100%;
	margin: auto;
}

main {
	width: 100%;
	margin: auto;
	background-color: none; /*turned off the background here */
	overflow: auto;
	padding: 20px;
}	

footer {
	background-color: none; /*turned off the background here */
}

img {
	
	filter: grayscale(100%); /*making it greyscale here. */
	filter: gray; /*making it greyscale here. */
	float:right;
	padding: 10px;
}
