/* COLOR PALETTE FROM LOGO:
 * Teal (light blue) = #63c5c3
 * Dark Blue = #1b1c43
 * Light Yellow = #eaf8d2
 * Dark Teal = #4f7c84
 * Light Grey = #cfd2cd
 */

body {
	background-color: #eff9f9;
}

nav li {
	list-style-type: none;
	display: inline-block;
}

p {
	font-size:large;
}

h4 {
	font-size:x-large;
}

.button {
	background-color: #60c0c0;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

nav li a {
	text-decoration: none;
}

nav li a:hover {
	background-color: #F29F05;
}

/*nav ul {
} */

header {
	background-color: #60c0c0;
	color: #1b1c43; 
	margin: 7px;
	text-shadow: 2px 2px 2.5px;
	text-align: center;
	font-size:xx-large;
	box-shadow: 3px 3px 3.5px darkgrey;
}

h2 {
	text-shadow: 0.5px 0.5px 2.5px;
	text-decoration-color:cornsilk;
  }

div {
	width: 80%;
	margin: auto;
}

#bio {
	position: relative;
}

main {
	width: 80%;
	margin: auto;
	background-color: #b0e0e0;
	overflow: auto;
	padding: 65px;
}	

footer {
	background-color: #60c0c0;
	color: #1b1c43;
	box-shadow: 3px 3px 3.5px darkgrey;
}

img {
	float:right;
	box-shadow: 4px 4px 4.5px;
}

#table-1 th{
	border: 1px solid black;
}

#table-2 th{
	border: 1px solid black;
}

#table-1 {
	border: 1px solid black;
}

#table-2 {
	border: 1px solid black;
}

#table-1 td{
	border: 1px solid black;
}

#table-2 td{
	border: 1px solid black;
}

a {
	text-decoration: none;
}


/* color: #212245; */
