nav li {
	list-style-type: none;
	display: inline-block;
}

nav li a {
	text-decoration: none;
}

nav li a:hover {
	background-color: #F29F05;
}

/*nav ul {
} */

div {
	width: 800px;
	margin: auto;
}

#bio {
	position: relative;
}

main {
	width: 800px;
	margin: auto;
	background-color: #a3ad9f;
	overflow: auto;
	padding: 20px;
}	

footer {
	background-color: #56a5aa;
}

img {
	float:right;
	padding: 10px;
}




/* color: #212245; */
