nav li {
	list-style-type: none;
	display: inline-block;
}

nav li a {
	text-decoration: none;
	padding: 10px 20px;
	color: #200F8C;
	background-color: #F2B705;
}

nav li a:hover {
	background-color: #F29F05;
}

nav ul {
	background-color: #2703A6;
	height: 40px;
}

div {
	width: 800px;
	margin: auto;
	color: #141259;
}

main {
	width: 800px;
	margin: auto;
	color: #141259;
}	

footer {
	background-color: #F2B705;
}

